@model PassionProject.Models.RecipeDto
@{
    ViewBag.Title = "Update";
}

<div>
    <div id="left-nav">
        <a href="/Recipe/Details/@Model.RecipeID" class="button">Back</a>
    </div>
    <div id="details-content">
        <h2>Update @Model.RecipeTitle</h2>

        <div class="form-container">
            <form action="/Recipe/Update/@Model.RecipeID" method="POST" enctype="multipart/form-data">
                <input type="number" style="display:none" name="RecipeID" value="@Model.RecipeID" />
                <div>
                    <label>Recipe Title:</label>
                    <input type="text" name="RecipeTitle" value="@Model.RecipeTitle" />
                </div>
                <div>
                    <textarea name="RecipeInstructions">@Model.RecipeInstructions</textarea>
                </div>
                <div>
                    <label for="Vegan">Vegan</label>
                    <input type="checkbox" name="Vegan" value="true" @(Model.Vegan ? "checked" : "") />
                    <label for="Vegetarian">Vegetarian</label>
                    <input type="checkbox" name="Vegetarian" value="true" @(Model.Vegetarian ? "checked" : "") />
                    <label for="GlutenFree">Gluten-Free</label>
                    <input type="checkbox" name="GlutenFree" value="true" @(Model.GlutenFree ? "checked" : "") />
                </div>
                <div>
                    <label>Difficulty Level:</label>
                    <label for="RecipeDifficultyLevel">Difficulty Level:</label>
                    <select id="RecipeDifficultyLevel" name="RecipeDifficultyLevel">
                        /* {
                            var selected = "";
                            if (Model.RecipeDifficultyLevel == "easy")
                            {
                                selected = "selected";
                            }
                            else if (Model.RecipeDifficultyLevel == "moderate")
                            {
                                selected = "selected";
                            }
                            else if (Model.RecipeDifficultyLevel == "hard")
                            {
                                selected = "selected";
                            }
                        } */
                        <option value="easy">Easy</option>
                        <option value="moderate">Moderate</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
                <div>
                    <input type="file" name="RecipePic" />
                </div>
                <div>
                    <input type="submit" value="Update Recipe" class="button" />
                </div>
            </form>
        </div>
    </div>
</div>
